<% provide(:title, 'USC Leaders') %>
		
			<div class="small-12">
				<section class="main-photo bg-img-top fast-height-trans" id="USC-leaders"></section>
			</div>
			<section class="separation-1"></section>
			<div class="row">
				<div class="small-12 columns text-center">
					<h1><strong> USC Campus Leaders </strong></h1>
				</div>
			</div>
			<section class="separation-1"></section>

			<!-- For Large Only -->

			<div class="row show-for-large-up">
				<div class="small-12 medium-8 large-10 small-centered columns">
					<ul id="accordion" class="small-block-grid-1 medium-block-grid-1 large-block-grid-2 small-centered">
					  <li>
					    <dl class="accordion" data-accordion="myAccordionGroup">
					      <dd class="accordion-navigation">
					        <a href="#panel1c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "leaders-albert.jpg", alt: "Jack" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h3 class="AccT">Albert Cho</h3>
						        		<h6 class="AccN">USC Ministry Leader</h6>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel1c" class="content">
					        	<div class="Letter">
					          Upon graduation of high school, God sovereignly led Albert to Los Angeles, California to attend USC from his hometown of Houston, Texas. At USC, where he began to develop a deeper relationship with God. Blessed by discipleship and training, Albert decided to become a campus leader at USC to pass on the blessings he received as an undergrad while simultaneously beginning to work full-time as a software engineer at DIRECTV. Albert’s childhood dream was to become a professional basketball player, but he decided to settle as an engineer when he stopped growing at 5’8”. To anyone gullible enough, Albert likes to tell tales about his pet horse and the dirt roads of Texas.
					          	</div>
					          	<div href="#panel1c">
					          		<div class="UpTri"></div>
					          	</div>
					          	<section class="sepSmall"></section>
					        </div>
					      </dd>
				          
					      <section class="separation-1"></section>
					      <dd class="accordion-navigation">
					        <a href="#panel3c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "leaders-brenda.jpg", alt: "Jeremy" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h3 class="AccT">Brenda Lee</h3>
						        		<h6 class="AccN">USC Women's Ministry Leader</h6>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel3c" class="content">
					        	<div class="Letter">
					          Brenda came to USC ICA during her freshman year. Throughout her undergrad years, which was a pivotal time of being humbled by God and finding her identity in Christ, she continually experienced the depths of God’s love for her, and began to see the importance of a life-long commitment to pursuing and following God above all else, as well as the importance of passing on this conviction to others through discipleship and evangelism. She is currently a 2nd year graduate dental student at USC and hopes to use dentistry in the future to care for and minister to patients, whether in a local or overseas setting. In her free time, she likes to go to the cinema, play badminton/piano, eat sweets, and spend time with friends and family. 
					          	</div>
					        </div>
					      </dd>
					      <section class="separation-1"></section>
					      <dd class="accordion-navigation">
					        <a href="#panel5c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "leaders-david.jpg", alt: "Jeremy" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h3 class="AccT">David Lee</h3>
						        		<h6 class="AccN">USC Men's Team Leader</h6>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel5c" class="content">
					        	<div class="Letter">
					          David is dedicated to pursuing his life promise in Matthew 9:35-36: to follow in the footsteps of Jesus Christ by preaching, teaching, and healing. This promise has led him from USC to Mongolia to Taiwan, with plenty of opportunities to teach, preach, and heal along the way. A recent graduate from USC who studied biology and Chinese, he is generally considered by his brothers and sisters to be a "character," but he's still unsure whether his scooter, his penchant for quips and one-liners, or his obsession with trivia is responsible for such a reputation.
					          	</div>
					        </div>
					      </dd>
					    </dl>
					  </li>
					  <li>
					    <dl class="accordion" data-accordion="myAccordionGroup">
					      <dd class="accordion-navigation">
					        <a href="#panel2c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "leaders-ethan.jpg", alt: "Jeremy" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h3 class="AccT">Ethan Chan</h3>
						        		<h6 class="AccN">USC Men's Team Leader</h6>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel2c" class="content">
					        	<div class="Letter">
					          An enthusiastic evangelist and loyal brother, Ethan's life was changed when he grew a love for quiet time and seeing God's love through His Word. He now leads the sophomore and junior small group, disciples younger men, and is working toward a progressive Master's degree in Electrical Engineering. Ethan hails from the beautiful state of Hawaii and enjoys playing the ukulele, playing tennis, experimenting in the kitchen, and watching his unsuspecting friends try his kitchen experiments.
					          	</div>
					        </div>
					      </dd>
					      <section class="separation-1"></section>
					      <dd class="accordion-navigation">
					        <a href="#panel4c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "leaders-jen.jpg", alt: "Josh" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h3 class="AccT">Jennifer Hang</h3>
						        		<h6 class="AccN">USC Women's Team Leader</h6>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel4c" class="content">
					        	<div class="Letter">
					          God’s faithful pursuit of Jen’s heart led her to her freshmen year at USC where she saw, for the first time, the magnitude of God’s love for her and His unique ability to fill and satisfy her in every way. Armed with these transforming truths and a persevering spirit, Jen spent the remainder of her undergrad years growing in her relationship with God and seeking His will for her life. Now, having graduated, she works full-time while also serving in the ministry at USC. When asked about favorite activities, Jen has no particular preferences – she simply enjoys being around those whom she loves, regardless of what they’re doing. She is, however, especially fond of breakfast food, graphic design and heart-to-heart conversations. 
					          	</div>
					        </div>
					      </dd>
					      <section class="separation-1"></section>
					      <dd class="accordion-navigation">
					        <a href="#panel6c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "leaders-kezia.jpg", alt: "Jeremy" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h3 class="AccT">Kezia Rusli</h3>
						        		<h6 class="AccN">USC Women's Team Leader</h6>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel6c" class="content">
					        	<div class="Letter">
					          Kezia really discovered a love for God and His Word in her first years of college at USC, despite having grown up in the church. Now she loves reading the Word and inviting others to discover God’s fingerprints throughout the Bible with her in serving and leading Bible studies. Kezia is currently a first-year graduate student studying occupational therapy at USC and looks forward to seeing God use OT to transform her and her ministry to the people she encounters. She enjoys playing any and all board games, organizing things, and going on trips to the playground.
					          	</div>
					        </div>
					      </dd>
					    </dl>
					  </li>
					</ul>
				</div>	
			</div>	

			<!-- For Small and Medium Only -->

			<div class="row hide-for-large-up">
				<div class="small-12 medium-8 large-10 small-centered columns">
					<ul id="accordion" class="small-block-grid-1 medium-block-grid-1 large-block-grid-2 small-centered">
					  <li>
					    <dl class="accordion" data-accordion="myAccordionGroup">
					      <dd class="accordion-navigation">
					        <a href="#panel1c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "leaders-albert.jpg", alt: "Jack" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h3 class="AccT">Albert Cho</h3>
						        		<h6 class="AccN">USC Ministry Leader</h6>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel1c" class="content">
					        	<div class="Letter">
					          Upon graduation of high school, God sovereignly led Albert to Los Angeles, California to attend USC from his hometown of Houston, Texas. At USC, where he began to develop a deeper relationship with God. Blessed by discipleship and training, Albert decided to become a campus leader at USC to pass on the blessings he received as an undergrad while simultaneously beginning to work full-time as a software engineer at DIRECTV. Albert’s childhood dream was to become a professional basketball player, but he decided to settle as an engineer when he stopped growing at 5’8”. To anyone gullible enough, Albert likes to tell tales about his pet horse and the dirt roads of Texas.
					          	</div>
					          	<div href="#panel1c">
					          		<div class="UpTri"></div>
					          	</div>
					          	<section class="sepSmall"></section>
					        </div>
					      </dd>
				          <section class="separation-1"></section>
					      <section class="separation-1"></section>
					      <dd class="accordion-navigation">
					        <a href="#panel3c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "leaders-brenda.jpg", alt: "Jeremy" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h3 class="AccT">Brenda Lee</h3>
						        		<h6 class="AccN">USC Women's Ministry Leader</h6>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel3c" class="content">
					        	<div class="Letter">
					          Brenda came to USC ICA during her freshman year. Throughout her undergrad years, which was a pivotal time of being humbled by God and finding her identity in Christ, she continually experienced the depths of God’s love for her, and began to see the importance of a life-long commitment to pursuing and following God above all else, as well as the importance of passing on this conviction to others through discipleship and evangelism. She is currently a 2nd year graduate dental student at USC and hopes to use dentistry in the future to care for and minister to patients, whether in a local or overseas setting. In her free time, she likes to go to the cinema, play badminton/piano, eat sweets, and spend time with friends and family. 
					          	</div>
					        </div>
					      </dd>
					      <section class="separation-1"></section>
					      <dd class="accordion-navigation">
					        <a href="#panel2c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "leaders-ethan.jpg", alt: "Jeremy" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h3 class="AccT">Ethan Chan</h3>
						        		<h6 class="AccN">USC Men's Team Leader</h6>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel2c" class="content">
					        	<div class="Letter">
					          An enthusiastic evangelist and loyal brother, Ethan's life was changed when he grew a love for quiet time and seeing God's love through His Word. He now leads the sophomore and junior small group, disciples younger men, and is working toward a progressive Master's degree in Electrical Engineering. Ethan hails from the beautiful state of Hawaii and enjoys playing the ukulele, playing tennis, experimenting in the kitchen, and watching his unsuspecting friends try his kitchen experiments.
					          	</div>
					        </div>
					      </dd>
					    </dl>
					  </li>
					  <li>
					    <dl class="accordion" data-accordion="myAccordionGroup">
					      <dd class="accordion-navigation">
					        <a href="#panel5c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "leaders-david.jpg", alt: "Jeremy" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h3 class="AccT">David Lee</h3>
						        		<h6 class="AccN">USC Men's Team Leader</h6>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel5c" class="content">
					        	<div class="Letter">
					          David is dedicated to pursuing his life promise in Matthew 9:35-36: to follow in the footsteps of Jesus Christ by preaching, teaching, and healing. This promise has led him from USC to Mongolia to Taiwan, with plenty of opportunities to teach, preach, and heal along the way. A recent graduate from USC who studied biology and Chinese, he is generally considered by his brothers and sisters to be a "character," but he's still unsure whether his scooter, his penchant for quips and one-liners, or his obsession with trivia is responsible for such a reputation.
					          	</div>
					        </div>
					      </dd>
					      <section class="separation-1"></section>
					      <dd class="accordion-navigation">
					        <a href="#panel4c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "leaders-jen.jpg", alt: "Josh" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h3 class="AccT">Jennifer Hang</h3>
						        		<h6 class="AccN">USC Women's Team Leader</h6>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel4c" class="content">
					        	<div class="Letter">
					          God’s faithful pursuit of Jen’s heart led her to her freshmen year at USC where she saw, for the first time, the magnitude of God’s love for her and His unique ability to fill and satisfy her in every way. Armed with these transforming truths and a persevering spirit, Jen spent the remainder of her undergrad years growing in her relationship with God and seeking His will for her life. Now, having graduated, she works full-time while also serving in the ministry at USC. When asked about favorite activities, Jen has no particular preferences – she simply enjoys being around those whom she loves, regardless of what they’re doing. She is, however, especially fond of breakfast food, graphic design and heart-to-heart conversations. 
					          	</div>
					        </div>
					      </dd>
					      <section class="separation-1"></section>
					      <dd class="accordion-navigation">
					        <a href="#panel6c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "leaders-kezia.jpg", alt: "Jeremy" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h3 class="AccT">Kezia Rusli</h3>
						        		<h6 class="AccN">USC Women's Team Leader</h6>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel6c" class="content">
					        	<div class="Letter">
					          Kezia really discovered a love for God and His Word in her first years of college at USC, despite having grown up in the church. Now she loves reading the Word and inviting others to discover God’s fingerprints throughout the Bible with her in serving and leading Bible studies. Kezia is currently a first-year graduate student studying occupational therapy at USC and looks forward to seeing God use OT to transform her and her ministry to the people she encounters. She enjoys playing any and all board games, organizing things, and going on trips to the playground.
					          	</div>
					        </div>
					      </dd>
					    </dl>
					  </li>
					</ul>
				</div>	
			</div>	
