<% provide(:title, 'Vision') %>

<div class="row">
  <div class="small-12 small-centered small-centered columns text-center">
    <section class="row separation-2"></section>
    <h2><em>Our Mission:</em></h2>
    <h2><em>to worship God and to make Christ's love known!</em></h2> 
  </div>
</div>

<section class="row separation-1"></section>

<div class="row">
  <div class= "medium-11 small-12 medium-centered columns" >
    <p class="indent">Our purpose here on Earth is to worship God and to make Christ’s love known. Our mission is to advance the gospel of Jesus and His Kingdom into all the nations, by establishing and equipping laborers and disciple-makers to be sent out to build up generations of disciples of Christ everywhere.</p>
  </div>
</div>

<section class="row separation-0"></section>

<div class="row collapse">
  <div class="small-12 columns">
    <section class="main-photo bg-img-contain fast-height-trans" id="vision-main">
    </section>
  </div>
</div>

<section class="row separation-1"></section>

<div class="row">
  <div class= "visible-for-medium-up margin-1 medium-12 large-12" >
    <h2> Our Vision </h2>
  </div>


  <div class= "show-for-small-only small-12 text-center" >
    <h2> Our Vision </h2>
  </div>
</div>

<div class="row">
  <div class= "visible-for-medium-up margin-1 medium-12 large-12 " >
    <h3> 3E Ministry </h3>
  </div>

  <div class= "show-for-small-only small-12 misstitle text-center" >
    <h3>3E Ministry <h3>
  </div>
</div>

<section class="row separation-0"></section>

<div class="row" data-equalizer>
  <div class="small-12 medium-12 large-10 medium-centered large-centered small-centered columns">
    <ul class="small-block-grid-1 medium-block-grid-3  large-block-grid-3 ">
    <li>
          <div class="text-center outer-panel-3e clickable" data-equalizer-watch data-href="<%= evangelize_path %>">
            <section class="separation-1"></section>
            <%= image_tag("cross.png" , :height => 60, :width =>34 )  %>
          
            <section class="separation-0"></section>   
            <div class="text-center">
              <h4>EVANGELIZE</h4>
            </div>
            <div class="3e-panel-content">
              <p>God desires for everyone to come to Christ. Salvation only comes through Jesus Christ, but He can use us to bring the good news to people everywhere. We are called to share the good news of the Gospel of Christ to all the nations.
               </p> 
            </div> 
            <section class="separation-0"></section>
          </div>

      </li>
      <li>
          <div class="text-center inner-panel-3e clickable" data-equalizer-watch data-href="<%= establish_path %>">
            <section class="separation-1"></section>
            <%= image_tag("Plant.png", :height => 60, :width => 62)  %>
            <section class="separation-0"></section>

            <div class="text-center">
              <h4>ESTABLISH</h4>
            </div>
            <div class="3e-panel-content">
              <p>  God wants every believer to mature in their faith in Him. We hope to establish disciples of Christ by building a firm foundation of devotion through the reading of God's Word, prayer, and fellowship. By doing so believers will grow in imitating the character of Christ.
              </p>  
            </div>

            <section class="separation-0"></section>
          </div> 
      </li>
      <li>
         <div class="text-center outer-panel-3e clickable" data-equalizer-watch data-href="<%= equip_path %>">
           <section class="separation-1"></section>
            <%= image_tag("sword.png", :height => 60, :width => 54)  %>
            <section class="separation-0"></section>

            <div class="text-center">
              <h4> EQUIP </h4>
            </div> 
            <div class="3e-panel-content">
              <p>God commands us all to go and make disciples! We train brothers and sisters to be equipped in discipleship and evangelism so they may be sent out to evangelize, establish, and equip spiritual generations of disciples for Christ. 
              </p>

            </div>
          <section class="separation-0"></section>
          </div>
        </li>
      </ul>
  </div>
</div>
