<% provide(:title, 'Discipleship') %>
<section class = "separation-1"> </section>
<h1 class = "text-center" style = "color: #495159"> <strong> One-to-One Discipleship </strong></h1>
<section class = "separation-1"> </section>
<div class = "row">
	<div class = "medium-12 columns">
		<div class = "row">
			<div class = "medium-6 columns">
				<div class = "row">
					<section class = "main-photo bg-img-top " id = "discipleship-david-alan">
					</section>
				</div>
			</div>
			<div class = "medium-6 columns">
				<div class = "row">
					<section class = "main-photo bg-img-top fast-height-trans " id = "discipleship-elaine-top">
					</section>
				</div>
			</div>
		</div>
	</div>
</div>
<br> 
	<div class = "row">
		<div class = "medium-11 medium-centered columns">
			<div class = "row">
				<p class = "indent discipleship-arial">
					If there’s a concept that’s central to our ministry in ICA, it would be the concept of one-on-one discipleship: That God has called us to make disciples and grow their faith so that they would be able to make disciples in turn.
				</p>
				<h3 style = "color:#103459"> Spiritual Reproduction </h3>
				<p class = "indent discipleship-arial">
					How did you get here on earth? The answer is quite simple: You were born from a mother and a father, both of whom were born themselves from your grandparents, who were also birthed by a set of parents. The origins of our spiritual lives are much the same. Every Christian became a Christian as the result of a person who preached the Gospel to them and helped them grow, and that person was himself descended from another Christian. This concept of spiritual reproduction is one of the major components of discipleship, and its origins are age-old. In fact, God’s call for reproduction, both physical and spiritual, was made after creating the world and everything in it: “Be fruitful and multiply” (Genesis 1:28).
				</p>
			</div>
		</div>
	</div>
</div>
<section class = "separation-1"> </section>
<h1 class = "text-center" style = "color: #495159"> <strong> Spiritual Generations </strong></h1>
<section class = "separation-1"> </section>
<div class = "row">
	<div class = "medium-12 columns">
		<div class = "row">
			<section class = "main-photo bg-img-top " id = "discipleship-spiritual-gen">
		</div>
	</div>
</div>
<section class = "separation-1"> </section>
<div class = "row">
	<div class = "medium-11 medium-centered columns"
		<div class = "row">
			<p class = "indent discipleship-arial">
			The second component of discipleship involves bringing the new disciple to a point of spiritual maturity. Although our spiritual walk is one of continual growth over our entire lives, the benchmark for spiritual maturity in the context of discipleship is the ability to spiritually reproduce and make a new generation of disciples. Just as one can trace their family’s generations, one can also trace their own spiritual generations of disciples who were faithful to Jesus’ Great Commission to “make disciples of all nations, baptizing them...and teaching them to obey everything that [Christ] commanded” (Matthew 28:19). The concept of spiritual generations is vital to the idea of discipleship, because it provides the goal and focus for a person’s spiritual maturation.
			</p>
			<section class = "separation-2"> </section>
			<h3 style = "color:#103459"> More than Mentorship </h3>
			<p class = "indent discipleship-arial">
				Based on these Biblical imperatives, in ICA we engage in one-on-one discipleship, where an older brother or sister iscommitted to maturing a younger brother or sister to be able to disciple others themselves. This goes far beyond a mentorship during your four-year college career: It’s a lifelong friendship and an active training that persists until spiritual maturity.
			</p>
			<section class = "separation-2"></section>
			<h3 style = "color:#103459"> The Three E’s </h3>
			<p class = "indent discipleship-arial">
			One-to-one discipleship goes through three stages, also known as the Three Es: Evangelism, Establishing, and Equipping. To make a disciple, one must find a willing person first, a process that often entails sharing the gospel to those who haven’t accepted it before. This is known as evangelism. Next, the discipler helps to establish the disciple in their faith by building their devotion to Christ through reading God’s word and prayer, and by building their character. Finally, the disciple must be equipped to make new disciples themselves by teaching them how to evangelize and establish others. Click here for more information about our 3E Ministry Model.
			</p>
		</div>
	</div>
</div>


<h1 class = "text-center" style = "color: #495159"> <strong> Why We Love Discipleship </strong></h1>
<section class = "separation-1"> </section>

<div class = "row">
	<div class = "medium-12 medium-centered columns">
		<div class = "row">
			<ul class = "tabs centered-3" data-tab>
				<li class = "tab-title">
					<%=link_to "", "#panel1-1", class: "circular-opaque bg-img, inlilne-block fast-opacity-trans has-arrow", id: "discipleship-elaine", data:{arrow: "#arrow-1"}%>
				</li>
				<li class = "tab-title">
					<%=link_to "", "#panel1-2", class: "circular-opaque bg-img, inlilne-block fast-opacity-trans has-arrow", id: "discipleship-david", data:{arrow: "#arrow-1"}%>
				</li>
				<li class = "tab-title">
					<%=link_to "", "#panel1-3", class: "circular-opaque bg-img, inlilne-block fast-opacity-trans has-arrow", id: "discipleship-jen", data:{arrow: "#arrow-1"}%>
				</li>
			</ul>
		</div>
		<section class = "separation-1"></section>
		<div class = "row">
			<ul class = "tabs centered-3" data-tab>
				<li class = "tab-title">
					<%=link_to "", "#panel2-1", class: "circular-opaque bg-img, inlilne-block fast-opacity-trans has-arrow", id: "discipleship-elaine", data:{arrow: "#arrow-1"}%>
				</li>
				<li class = "tab-title">
					<%=link_to "", "#panel2-2", class: "circular-opaque bg-img, inlilne-block fast-opacity-trans has-arrow", id: "discipleship-david", data:{arrow: "#arrow-1"}%>
				</li>
				<li class = "tab-title">
					<%=link_to "", "#panel2-3", class: "circular-opaque bg-img, inlilne-block fast-opacity-trans has-arrow", id: "discipleship-jen", data:{arrow: "#arrow-1"}%>
				</li>
			</ul>
		</div>
	</div>
	<div class= "arrow-up hidden" id = "arrow-1"></div>
		<div class = "row">
			<div class = "medium-11 medium-centered columns">
				<div class = "tabs-content">
					<div class = "content" id = "panel1-1">
						<p> Blurp about why 1-1 likes discipleship. </p>
					</div>
					<div class = "content" id = "panel1-2">
						<p> Blurp about why 1-2 likes discipleship. </p>
					</div>
					<div class = "content" id = "panel1-3">
						<p> Blurp about why 1-3 likes discipleship. </p>
					</div>
					<div class = "content" id = "panel2-1">
						<p> Blurp about why 2-1 likes discipleship. </p>
					</div>
					<div class = "content" id = "panel2-2">
						<p> Blurp about why 2-2 likes discipleship. </p>
					</div>
					<div class = "content" id = "panel2-3">
						<p> Blurp about why 2-3 likes discipleship. </p>
					</div>
				</div>
			</div>
		</div>
</div>
