<% provide(:title, 'Discipleship') %>
<section class = "separation-1"> </section>
<h1 class = "text-center" style = "color: #495159"> <strong> One-to-One Discipleship </strong></h1>
<section class = "separation-1"> </section>
<div class = "row">
	<div class = "medium-12 columns">
		<div class = "row">
			<div class = "medium-6 columns">
				<div class = "row">
					<section class = "main-photo bg-img-top " id = "discipleship-david-alan">
					</section>
				</div>
			</div>
			<div class = "medium-6 columns">
				<div class = "row">
					<section class = "main-photo bg-img-top fast-height-trans " id = "discipleship-elaine-top">
					</section>
				</div>
			</div>
		</div>
	</div>
</div>
<br> 
	<div class = "row">
		<div class = "medium-11 medium-centered columns">
			<div class = "row">
				<p class = "indent discipleship-arial">
					If there’s a concept that’s central to our ministry in ICA, it would be the concept of one-on-one discipleship: That God has called us to make disciples and grow their faith so that they would be able to make disciples in turn.
				</p>
				<h3 style = "color:#103459"> Spiritual Reproduction </h3>
				<p class = "indent discipleship-arial">
					How did you get here on earth? The answer is quite simple: You were born from a mother and a father, both of whom were born themselves from your grandparents, who were also birthed by a set of parents. The origins of our spiritual lives are much the same. Every Christian became a Christian as the result of a person who preached the Gospel to them and helped them grow, and that person was himself descended from another Christian. This concept of spiritual reproduction is one of the major components of discipleship, and its origins are age-old. In fact, God’s call for reproduction, both physical and spiritual, was made after creating the world and everything in it: “Be fruitful and multiply” (Genesis 1:28).
				</p>
			</div>
		</div>
	</div>
</div>
<section class = "separation-1"> </section>
<h1 class = "text-center" style = "color: #495159"> <strong> Spiritual Generations </strong></h1>
<section class = "separation-1"> </section>
<div class = "row">
	<div class = "medium-12 columns">
		<div class = "row">
			<section class = "main-photo bg-img-top " id = "discipleship-spiritual-gen">
		</div>
	</div>
</div>
<section class = "separation-1"> </section>
<div class = "row">
	<div class = "medium-11 medium-centered columns">
		<div class = "row">
			<p class = "indent discipleship-arial">
			The second component of discipleship involves bringing the new disciple to a point of spiritual maturity. Although our spiritual walk is one of continual growth over our entire lives, the benchmark for spiritual maturity in the context of discipleship is the ability to spiritually reproduce and make a new generation of disciples. Just as one can trace their family’s generations, one can also trace their own spiritual generations of disciples who were faithful to Jesus’ Great Commission to “make disciples of all nations, baptizing them...and teaching them to obey everything that [Christ] commanded” (Matthew 28:19). The concept of spiritual generations is vital to the idea of discipleship, because it provides the goal and focus for a person’s spiritual maturation.
			</p>
			<section class = "separation-2"> </section>
			<h3 style = "color:#103459"> More than Mentorship </h3>
			<p class = "indent discipleship-arial">
				Based on these Biblical imperatives, in ICA we engage in one-on-one discipleship, where an older brother or sister iscommitted to maturing a younger brother or sister to be able to disciple others themselves. This goes far beyond a mentorship during your four-year college career: It’s a lifelong friendship and an active training that persists until spiritual maturity.
			</p>
			<section class = "separation-2"></section>
			<h3 style = "color:#103459"> The Three E’s </h3>
			<p class = "indent discipleship-arial">
			One-to-one discipleship goes through three stages, also known as the Three Es: Evangelism, Establishing, and Equipping. To make a disciple, one must find a willing person first, a process that often entails sharing the gospel to those who haven’t accepted it before. This is known as evangelism. Next, the discipler helps to establish the disciple in their faith by building their devotion to Christ through reading God’s word and prayer, and by building their character. Finally, the disciple must be equipped to make new disciples themselves by teaching them how to evangelize and establish others. Click here for more information about our 3E Ministry Model.
			</p>
		</div>
	</div>
</div>

<!-- Discipleship testimonials for small screen -->

<div class="row collapse block-spacing text-center show-for-small-only">
  <div class="row block-spacing-sml">
    <div class="small-12 columns">
      <h2><strong>Why We Love STP</strong></h2>
      <section class="separation-1"></section>
    </div>
  </div>
  <div class="row">
    <div class="large-3 medium-6 small-12 columns">
      <figure class="fig-link">
        <%= link_to "", "#", id: "discipleship-jimmy", class: "circular bg-img inline-block fast-opacity-trans", data: { reveal_id: "jimmy-modal" } %>
      </figure>
    </div>
    <div class="large-3 medium-6 small-12 columns">
      <figure class="fig-link">
        <%= link_to "", "#", id: "discipleship-andrea", class: "circular bg-img inline-block fast-opacity-trans", data: { reveal_id: "andrea-modal" } %>
      </figure>
    </div>
    <div class="large-3 medium-6 small-12 columns">
      <figure class="fig-link">
        <%= link_to "", "#", id: "discipleship-jeremy", class: "circular bg-img inline-block fast-opacity-trans", data: { reveal_id: "jeremy-modal" } %>
      </figure>
    </div>
    <div class="large-3 medium-6 small-12 columns">
      <figure class="fig-link">
        <%= link_to "", "#", id: "discipleship-jen", class: "circular bg-img inline-block fast-opacity-trans", data: { reveal_id: "jen-modal" } %>
      </figure>
    </div>
  </div>
  <div id="jimmy-modal" class="reveal-modal" data-reveal>
    <div class="row">
      <div class="small-12 columns">
        <h4 class="indent text-left">Jimmy Chan, UCI</h4>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <p class="indent text-left">Discipleship is one of the ways God brings His blessings to the ends of the Earth. It is not only sharing about the Gospel of Jesus, but also our lives as well. In the same way, I have been under the care of Mike, my discipler, ever since I first became a new Christian. Discipleship is about life on life relationship, the daily acknowledgment of graciously embracing each others' strengths and weaknesses. God has bestowed Mike into my life in order to teach me, rebuke me, correct me, and train me in righteousness. Not only so, Mike's patience is what gives me a glimpse of God's heart. He helped me to see that God has been very patient with me all of my life, and I am blessed to have God pouring out His love into my life under Mike's care.</p>
      </div>
    </div>
  </div>
  <div id="andrea-modal" class="reveal-modal" data-reveal>
    <div class="row">
      <div class="small-12 columns">
        <h4 class="indent text-left">Andrea Bullard, UCLA</h4>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <p class="indent text-left">My discipler  for the past year and a half has been Sarah C. I praise God for the sister, mentor, and supporter he has given me. God is awesome because I know he ordained our discipleship. Sarah's strengths are my weaknesses and my strengths are her weaknesses. In this way we both have been able to grow tremendously as women and as daughters of Christ this past year. The biggest blessing of discipleship is the support. Sarah has been my biggest advocate. This year had been filled with spiritual and internal battles. I would have lost the fight for Christ if I did not have someone to turn to when I was on the verge of turning away from Christ. Praise God.</p>
      </div>
    </div>
  </div>
  <div id="jeremy-modal" class="reveal-modal" data-reveal>
    <div class="row">
      <div class="small-12 columns">
        <h4 class="indent text-left">Jeremy Chen, USC</h4>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <p class="indent text-left">One-to-one discipleship has been an invaluable part of my life. At each point, God has used my discipler to speak truth into my life, comfort me with His love and envision on my behalf. My discipler simultaneously sees the person that I am and sees the person that I could be, partnering with the Holy Spirit to help me become a follower of Christ with lifelong convictions. Having the opportunity to pour into others who are learning to walk with God has also opened me up to be a lifetime channel of His blessings. He indeed keeps covenant and steadfast love to a thousand generations of those who love Him and obey His commands!</p>
      </div>
    </div>
  </div>
  <div id="jen-modal" class="reveal-modal" data-reveal>
    <div class="row">
      <div class="small-12 columns">
        <h4 class="indent text-left">Jennifer Hang, USC</h4>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <p class="indent text-left">One-to-one discipleship has played a fundamental role in my walk with God and growth as a disciple of Christ. In teaching me to read and enjoy the Word, to be vulnerable before God and others, and to actively see God working in my own life, my discipler showed me what it means to have a relationship with Jesus and the depths of joy that flow from that. In discipling others, I have learned that discipleship is not just about mentoring, teaching or leading (though these are all important aspects of it); it’s also about living life together and mutually encouraging one another to respond in faith to God’s call to follow Him. I’ve been hugely blessed by one-to-one discipleship and hope it continues to be an important part of the rest of my life.</p>
      </div>
    </div>
  </div>
</div>

<!-- Discipleship testimonials for medium and up screens -->

<div class="row collapse show-for-medium-up">
  <div class="small-12 columns">
    <div class="row text-center">
      <div class="small-12 columns">
        <h2><strong>Why We Love Discipleship</strong></h2>
        <section class="separation-1"></section>
      </div>
    </div>
  </div>
  <div class="medium-12 columns">
    <div class="row collapse">
      <div class="medium-12 medium-centered columns">
        <div class="row collapse">
          <div class="medium-12 columns">
            <ul class="tabs centered" data-tab>
              <li class="tab-title active">
                <%= link_to "", "#panel1-1", class: "circular-opaque bg-circular inline-block fast-opacity-trans has-arrow", id: "discipleship-jimmy-1", data: {arrow: "#arrow-1"} %>
              </li>
              <li class="tab-title">
                <%= link_to "", "#panel1-2", class: "circular-opaque bg-circular inline-block fast-opacity-trans has-arrow", id: "discipleship-andrea-1", data: {arrow: "#arrow-1"}  %>
              </li>
              <li class="tab-title">
                <%= link_to "", "#panel1-3", class: "circular-opaque bg-circular inline-block fast-opacity-trans has-arrow", id: "discipleship-jeremy-1", data: {arrow: "#arrow-1"}  %>
              </li>
              <li class="tab-title">
                <%= link_to "", "#panel1-4", class: "circular-opaque bg-circular inline-block fast-opacity-trans has-arrow", id: "discipleship-jen-1", data: {arrow: "#arrow-1"}  %>
              </li>
            </ul>
          </div>
       </div>
       <div class="arrow-up" id="arrow-1"></div>
       <div class="row">
          <div class="medium-11 medium-centered columns">
            <div class="tabs-content">
              <div class="content active" id="panel1-1">
                <div class="row">
                  <div class="medium-12 columns">
                    <h4 class="indent">Jimmy Chan, UCI</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="medium-12 columns">
                    <p class="indent text-left">Discipleship is one of the ways God brings His blessings to the ends of the Earth. It is not only sharing about the Gospel of Jesus, but also our lives as well. In the same way, I have been under the care of Mike, my discipler, ever since I first became a new Christian. Discipleship is about life on life relationship, the daily acknowledgment of graciously embracing each others' strengths and weaknesses. God has bestowed Mike into my life in order to teach me, rebuke me, correct me, and train me in righteousness. Not only so, Mike's patience is what gives me a glimpse of God's heart. He helped me to see that God has been very patient with me all of my life, and I am blessed to have God pouring out His love into my life under Mike's care.</p>
                  </div>
                </div>
              </div>
              <div class="content" id="panel1-2">
                <div class="row">
                  <div class="medium-12 columns">
                    <h4 class="indent">Andrea Bullard, UCLA</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="medium-12 columns">
                    <p class="indent text-left">My discipler  for the past year and a half has been Sarah C. I praise God for the sister, mentor, and supporter he has given me. God is awesome because I know he ordained our discipleship. Sarah's strengths are my weaknesses and my strengths are her weaknesses. In this way we both have been able to grow tremendously as women and as daughters of Christ this past year. The biggest blessing of discipleship is the support. Sarah has been my biggest advocate. This year had been filled with spiritual and internal battles. I would have lost the fight for Christ if I did not have someone to turn to when I was on the verge of turning away from Christ. Praise God.</p>
                  </div>
                </div>
              </div>
              <div class="content" id="panel1-3">
                <div class="row">
                  <div class="medium-12 columns">
                    <h4 class="indent">Jeremy Chen, USC</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="medium-12 columns">
                    <p class="indent text-left">One-to-one discipleship has been an invaluable part of my life. At each point, God has used my discipler to speak truth into my life, comfort me with His love and envision on my behalf. My discipler simultaneously sees the person that I am and sees the person that I could be, partnering with the Holy Spirit to help me become a follower of Christ with lifelong convictions. Having the opportunity to pour into others who are learning to walk with God has also opened me up to be a lifetime channel of His blessings. He indeed keeps covenant and steadfast love to a thousand generations of those who love Him and obey His commands!</p>
                  </div>
                </div>
              </div>
              <div class="content" id="panel1-4">
                <div class="row">
                  <div class="medium-12 columns">
                    <h4 class="indent">Jennifer Hang, USC</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="medium-12 columns">
                    <p class="indent text-left">One-to-one discipleship has played a fundamental role in my walk with God and growth as a disciple of Christ. In teaching me to read and enjoy the Word, to be vulnerable before God and others, and to actively see God working in my own life, my discipler showed me what it means to have a relationship with Jesus and the depths of joy that flow from that. In discipling others, I have learned that discipleship is not just about mentoring, teaching or leading (though these are all important aspects of it); it’s also about living life together and mutually encouraging one another to respond in faith to God’s call to follow Him. I’ve been hugely blessed by one-to-one discipleship and hope it continues to be an important part of the rest of my life.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

