<div class="small-12">
  <section class="main-photo bg-img fast-height-trans" id="home-main">
    <%= image_tag "ica_logo.png", class: "img-overlay" %>
  </section>
</div>

<div class="row text-center">
  <section class="no-photo">
    <section class="separation-1"></section>
    <h2><strong>To Worship God and to</strong><br>
      <strong>Make Christ's Love Known</strong></h2>
    <section class="separation-1"></section>
    <h3 class="subheader">In Christ Alone (ICA) is a ministry committed to loving God,<br>
      loving our neighbors as ourselves, and making disciples of all nations</h3>
    <section class="separation-1"></section>
    <%= link_to "Learn More", about_path, class: "responsive-button" %>
    <section class="separation-2"></section>
  </section>
</div>

<div class="small-12">
  <section class="fixed-photo bg-img fast-height-trans" id="home-2">
  </section>
</div>

<section class="row separation-2"></section>
<div class="row text-center">
  <h2><strong>Our Campus Ministries</strong></h2>
</div>
<section class="row separation-2"></section>
<div class="small-12 medium-6 large-3 columns text-center">
  <figure class="fig-link">
    <%= link_to "", "#", id: "usc-statue", class: "circular inline-block fast-opacity-trans" %>
    <h3><strong>USC</strong></h3>
  </figure>
</div>
<div class="small-12 medium-6 large-3 columns text-center">
  <figure class="fig-link">
    <%= link_to "", ucla_path, id: "ucla-statue", class: "circular inline-block fast-opacity-trans" %>
    <h3><strong>UCLA</strong></h3>
  </figure>
</div>
<div class="small-12 medium-6 large-3 columns text-center">
  <figure class="fig-link">
    <%= link_to "", "#", id: "uci-statue", class: "circular inline-block fast-opacity-trans" %>
    <h3><strong>UCI</strong></h3>
  </figure>
</div>
<div class="small-12 medium-6 large-3 columns text-center">
  <figure class="fig-link">
    <%= link_to "", "#", id: "ucb-statue", class: "circular inline-block fast-opacity-trans" %>
    <h3><strong>UCB</strong></h3>
  </figure>
</div>
<div class="row text-center">
  <div class="small-12 columns">
    <%= link_to "Get Connected", "#", class: "responsive-button" %>
  </div>
</div>
<section class="row separation-2"></section>
