<div class="row text-center bg-header-opaque">
  <h1>Summer Training Program (STP)</h1>
</div>

<div class="row block-spacing-bottom">
  <section class="temp2-main-bg img-bg fast-height-trans" id="stp-main">
  </section>
</div>

<div class="row collapse">
  <div class="medium-6 columns text-padding">
    <h2><strong>What is STP?</strong></h2>
    <p class="indent serif">Summer Training Program (STP) is an intensive two- or
      three-week long program that will strengthen your walk with 
      Christ, show you the power of the Word and prayer, bond you 
      with your brothers and sisters, and teach you how to share your 
      faith with others. STP is open not only to those in ICA, but to 
      anyone who would like to be challenged, strengthened and 
      equipped in their faith.
    </p>
  </div>
  <div class="medium-6 columns">
    <section class="img-bg fast-height-trans" id="stp-1">
    </section>
  </div>
</div>

<div class="row collapse">
  <div class="medium-6 medium-push-6 columns text-padding">
    <h2><strong>Where and When is STP?</strong></h2>
    <p class="indent serif">There are three different STP sessions. The first session is
      located in Southern California, and is run by USC and Berkeley 
      ICA. This session typically runs during the last two weeks of 
      May.
    </p>
    <p class="indent serif">The second is located in the East Coast, and is typically
      attended by students from the East Coast and Canada. It runs for 
      two weeks from the last week of May to the first week of June.
    </p>
    <p class="indent serif">The third is located in Southern California, and is run by
      UCLA and UCI ICA. This session runs for three weeks, usually 
      from late August to September.
    </p>
  </div>
  <div class="medium-6 medium-pull-6 columns">
    <section class="img-bg fast-height-trans" id="stp-2">
    </section>
  </div>
</div>

<div class="row collapse">
  <div class="medium-6 columns text-padding">
    <h2><strong>What Do We Do On STP?</strong></h2>
    <p class="indent serif">STP is typically split into two parts: The first part of the
      program focuses on building devotion and character, and the
      second part focuses on growing in evangelism and faith.
    </p>
    <p class="indent serif">The first part of the program is often held at a Bible camp,
      with a heavy focus on physical, mental, and spiritual growth.
      Participants will learn how to have quiet time with God, how to
      study the Bible, and through messages, workshops, and small
      group time, consider how to apply biblical truths and principles
      in their lives. We also perform manual labor for the Bible
      camp to learn important object lessons, serve them and contribute
      to their ministry.
    </p>
    <p class="indent serif">The second part of the program typically involves evangelizing
      at a college campus in order to train in sharing our faith
      and build up our own faith as well. The second half culminates
      with several activities meant to challenge your faith and reveal
      the power of prayer. STP concludes with a time to process the
      lessons learned through the program and apply the truths from
      those lessons into our own lives.
    </p>
  </div>
  <div class="medium-6 columns">
    <section class="img-bg fast-height-trans" id="stp-3">
    </section>  
  </div>
</div>


<!--
<div class="row block-spacing text-center">
  <div class="small-12 columns">
    <h2><strong>Why We Love STP</strong></h2>
    <section class="separation-1"></section>
  </div>
  <div class="medium-3 small-12 columns">
    <figure class="fig-link">
      <%#= link_to "", "#", id: "stp-brian", class: "circular bg-img inline-block fast-opacity-trans" %>
    </figure>
  </div>
  <div class="medium-3 small-12 columns">
    <figure class="fig-link">
      <%#= link_to "", "#", id: "stp-effie", class: "circular bg-img inline-block fast-opacity-trans" %>
    </figure>
  </div>
  <div class="medium-3 small-12 columns">
    <figure class="fig-link">    
      <%#= link_to "", "#", id: "stp-jk", class: "circular bg-img inline-block fast-opacity-trans" %>
    </figure>
  </div>
  <div class="medium-3 small-12 columns">
    <figure class="fig-link">    
      <%#= link_to "", "#", id: "stp-nelly", class: "circular bg-img inline-block fast-opacity-trans" %>
    </figure>
  </div>
  <div class="medium-4 small-12 columns">
    <figure class="fig-link">    
      <%#= link_to "", "#", id: "stp-effie", class: "circular bg-img inline-block fast-opacity-trans" %>
    </figure>
  </div>
  <div class="medium-4 small-12 columns">
    <figure class="fig-link">    
      <%#= link_to "", "#", id: "stp-jk", class: "circular bg-img inline-block fast-opacity-trans" %>
    </figure>
  </div>
  <div class="medium-4 small-12 columns">
    <figure class="fig-link">    
      <%#= link_to "", "#", id: "stp-nelly", class: "circular bg-img inline-block fast-opacity-trans" %>
    </figure>
  </div>
</div>-->

<!--<div class="row block-spacing text-center">
  <div class="small-12 columns">
    <h2><strong>Why We Love STP</strong></h2>
    <section class="separation-1"></section>
  </div>
  <div class="row dropdown" data-large=3>
  <div class="large-3 medium-6 small-12 columns">
    <figure class="fig-link">
      <%#= link_to "", "#brian-content", id: "stp-brian", class: "dropdown-item circular bg-img inline-block fast-opacity-trans" %>
    </figure>
  </div>
  <div class="large-3 medium-6 small-12 columns">
    <figure class="fig-link">
      <%#= link_to "", "#effie-content", id: "stp-effie", class: "dropdown-item circular bg-img inline-block fast-opacity-trans" %>
    </figure>
  </div>
  <div class="large-3 medium-6 small-12 columns">
    <figure class="fig-link">    
      <%#= link_to "", "#jk-content", id: "stp-jk", class: "dropdown-item circular bg-img inline-block fast-opacity-trans" %>
    </figure>
  </div>
  <div class="large-3 medium-6 small-12 columns">
    <figure class="fig-link">    
      <%#= link_to "", "#nelly-content", id: "stp-nelly", class: "dropdown-item circular bg-img inline-block fast-opacity-trans" %>
    </figure>
  </div>
  <div class="small-12 columns">
    <p class="active-content"></p>
  </div>
  </div>
  <div class="dropdown hide">
    <div class="content" id="brian-content">
      <p>1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque consectetur sem, eu aliquet dui imperdiet sit amet. Aliquam ac diam at tellus hendrerit porta. Morbi mauris velit, sodales vel nisl ut, sollicitudin aliquam nisi. Suspendisse velit dolor, laoreet in faucibus quis, facilisis sed mauris. Aenean felis lectus, pretium nec facilisis ac, congue in diam. Duis accumsan pellentesque faucibus. Nunc fermentum lectus lectus, ac rutrum risus cursus lobortis. Aliquam sollicitudin orci vitae sollicitudin luctus. Donec consequat pharetra sapien, et tempus justo euismod vitae. Aliquam pharetra mauris pellentesque nunc vehicula, nec tincidunt massa convallis. Sed bibendum, enim vel mollis sollicitudin, nisl sapien imperdiet purus, sit amet convallis velit est quis ipsum. Fusce et sapien facilisis, facilisis neque et, interdum metus.</p>
    </div>
    <div class="content" id="effie-content">
      <p>2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque consectetur sem, eu aliquet dui imperdiet sit amet. Aliquam ac diam at tellus hendrerit porta. Morbi mauris velit, sodales vel nisl ut, sollicitudin aliquam nisi. Suspendisse velit dolor, laoreet in faucibus quis, facilisis sed mauris. Aenean felis lectus, pretium nec facilisis ac, congue in diam. Duis accumsan pellentesque faucibus. Nunc fermentum lectus lectus, ac rutrum risus cursus lobortis. Aliquam sollicitudin orci vitae sollicitudin luctus. Donec consequat pharetra sapien, et tempus justo euismod vitae. Aliquam pharetra mauris pellentesque nunc vehicula, nec tincidunt massa convallis. Sed bibendum, enim vel mollis sollicitudin, nisl sapien imperdiet purus, sit amet convallis velit est quis ipsum. Fusce et sapien facilisis, facilisis neque et, interdum metus.</p>
    </div>
    <div class="content" id="jk-content">
      <p>3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque consectetur sem, eu aliquet dui imperdiet sit amet. Aliquam ac diam at tellus hendrerit porta. Morbi mauris velit, sodales vel nisl ut, sollicitudin aliquam nisi. Suspendisse velit dolor, laoreet in faucibus quis, facilisis sed mauris. Aenean felis lectus, pretium nec facilisis ac, congue in diam. Duis accumsan pellentesque faucibus. Nunc fermentum lectus lectus, ac rutrum risus cursus lobortis. Aliquam sollicitudin orci vitae sollicitudin luctus. Donec consequat pharetra sapien, et tempus justo euismod vitae. Aliquam pharetra mauris pellentesque nunc vehicula, nec tincidunt massa convallis. Sed bibendum, enim vel mollis sollicitudin, nisl sapien imperdiet purus, sit amet convallis velit est quis ipsum. Fusce et sapien facilisis, facilisis neque et, interdum metus.</p>
    </div>
    <div class="content" id="nelly-content">
      <p>4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque consectetur sem, eu aliquet dui imperdiet sit amet. Aliquam ac diam at tellus hendrerit porta. Morbi mauris velit, sodales vel nisl ut, sollicitudin aliquam nisi. Suspendisse velit dolor, laoreet in faucibus quis, facilisis sed mauris. Aenean felis lectus, pretium nec facilisis ac, congue in diam. Duis accumsan pellentesque faucibus. Nunc fermentum lectus lectus, ac rutrum risus cursus lobortis. Aliquam sollicitudin orci vitae sollicitudin luctus. Donec consequat pharetra sapien, et tempus justo euismod vitae. Aliquam pharetra mauris pellentesque nunc vehicula, nec tincidunt massa convallis. Sed bibendum, enim vel mollis sollicitudin, nisl sapien imperdiet purus, sit amet convallis velit est quis ipsum. Fusce et sapien facilisis, facilisis neque et, interdum metus.</p>
    </div>
  </div>
</div>-->

<div class="row collapse block-spacing text-center">
  <div class="row">
    <div class="small-12 columns">
      <h2><strong>Why We Love STP</strong></h2>
      <section class="separation-1"></section>
    </div>
  </div>
  <div class="row">
    <div class="large-3 medium-6 small-12 columns">
      <figure class="fig-link">
	<%= link_to "", "#", id: "stp-brian", class: "circular bg-img inline-block fast-opacity-trans", data: { dropdown: "drop1" } %>
      </figure>
    </div>
    <div class="large-3 medium-6 small-12 columns">
      <figure class="fig-link">
	<%= link_to "", "#", id: "stp-effie", class: "circular bg-img inline-block fast-opacity-trans", data: { dropdown: "drop2" } %>
      </figure>
    </div>
    <div class="large-3 medium-6 small-12 columns">
      <figure class="fig-link">    
	<%= link_to "", "#", id: "stp-jk", class: "circular bg-img inline-block fast-opacity-trans", data: { dropdown: "drop3" } %>
      </figure>
    </div>
    <div class="large-3 medium-6 small-12 columns">
      <figure class="fig-link">    
	<%= link_to "", "#", id: "stp-nelly", class: "circular bg-img inline-block fast-opacity-trans", data: { dropdown: "drop4" } %>
      </figure>
    </div>
  </div>
  <div id="drop1" data-dropdown-content class="f-dropdown content">
    <p>1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque consectetur sem, eu aliquet dui imperdiet sit amet. Aliquam ac diam at tellus hendrerit porta. Morbi mauris velit, sodales vel nisl ut, sollicitudin aliquam nisi. Suspendisse velit dolor, laoreet in faucibus quis, facilisis sed mauris. Aenean felis lectus, pretium nec facilisis ac, congue in diam. Duis accumsan pellentesque faucibus. Nunc fermentum lectus lectus, ac rutrum risus cursus lobortis. Aliquam sollicitudin orci vitae sollicitudin luctus. Donec consequat pharetra sapien, et tempus justo euismod vitae. Aliquam pharetra mauris pellentesque nunc vehicula, nec tincidunt massa convallis. Sed bibendum, enim vel mollis sollicitudin, nisl sapien imperdiet purus, sit amet convallis velit est quis ipsum. Fusce et sapien facilisis, facilisis neque et, interdum metus.</p>
  </div>
  <div id="drop2" data-dropdown-content class="f-dropdown content">
    <p>2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque consectetur sem, eu aliquet dui imperdiet sit amet. Aliquam ac diam at tellus hendrerit porta. Morbi mauris velit, sodales vel nisl ut, sollicitudin aliquam nisi. Suspendisse velit dolor, laoreet in faucibus quis, facilisis sed mauris. Aenean felis lectus, pretium nec facilisis ac, congue in diam. Duis accumsan pellentesque faucibus. Nunc fermentum lectus lectus, ac rutrum risus cursus lobortis. Aliquam sollicitudin orci vitae sollicitudin luctus. Donec consequat pharetra sapien, et tempus justo euismod vitae. Aliquam pharetra mauris pellentesque nunc vehicula, nec tincidunt massa convallis. Sed bibendum, enim vel mollis sollicitudin, nisl sapien imperdiet purus, sit amet convallis velit est quis ipsum. Fusce et sapien facilisis, facilisis neque et, interdum metus.</p>
  </div>
  <div id="drop3" data-dropdown-content class="f-dropdown content">
    <p>3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque consectetur sem, eu aliquet dui imperdiet sit amet. Aliquam ac diam at tellus hendrerit porta. Morbi mauris velit, sodales vel nisl ut, sollicitudin aliquam nisi. Suspendisse velit dolor, laoreet in faucibus quis, facilisis sed mauris. Aenean felis lectus, pretium nec facilisis ac, congue in diam. Duis accumsan pellentesque faucibus. Nunc fermentum lectus lectus, ac rutrum risus cursus lobortis. Aliquam sollicitudin orci vitae sollicitudin luctus. Donec consequat pharetra sapien, et tempus justo euismod vitae. Aliquam pharetra mauris pellentesque nunc vehicula, nec tincidunt massa convallis. Sed bibendum, enim vel mollis sollicitudin, nisl sapien imperdiet purus, sit amet convallis velit est quis ipsum. Fusce et sapien facilisis, facilisis neque et, interdum metus.</p>
  </div>
  <div id="drop4" data-dropdown-content class="f-dropdown content">
    <p>4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque consectetur sem, eu aliquet dui imperdiet sit amet. Aliquam ac diam at tellus hendrerit porta. Morbi mauris velit, sodales vel nisl ut, sollicitudin aliquam nisi. Suspendisse velit dolor, laoreet in faucibus quis, facilisis sed mauris. Aenean felis lectus, pretium nec facilisis ac, congue in diam. Duis accumsan pellentesque faucibus. Nunc fermentum lectus lectus, ac rutrum risus cursus lobortis. Aliquam sollicitudin orci vitae sollicitudin luctus. Donec consequat pharetra sapien, et tempus justo euismod vitae. Aliquam pharetra mauris pellentesque nunc vehicula, nec tincidunt massa convallis. Sed bibendum, enim vel mollis sollicitudin, nisl sapien imperdiet purus, sit amet convallis velit est quis ipsum. Fusce et sapien facilisis, facilisis neque et, interdum metus.</p>
  </div>
</div>

<div class="row">
  <div class="row text-center">
    <div class="small-12 columns">
      <h2><strong>Why We Love STP</strong></h2>
      <section class="separation-1"></section>
    </div>
  </div>
  <div class="row">
    <div class="small-12 small-centered columns">
      <ul class="tabs centered" data-tab>
	<li class="tab-title"><%= link_to "", "#panel1-1", class: "circular-opaque bg-img inline-block fast-opacity-trans fast-width-trans", id: "stp-brian-1" %></li>
	<li class="tab-title"><%= link_to "", "#panel1-2", class: "circular-opaque bg-img inline-block fast-opacity-trans fast-width-trans", id: "stp-effie-1" %></li>
	<li class="tab-title"><%= link_to "", "#panel1-3", class: "circular-opaque bg-img inline-block fast-opacity-trans", id: "stp-jk-1" %></li>
	<li class="tab-title"><%= link_to "", "#panel1-4", class: "circular-opaque bg-img inline-block fast-opacity-trans", id: "stp-nelly-1" %></li>
      </ul>
      <div class="tabs-content">
	<div class="content" id="panel1-1">
	  <p>1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque consectetur sem, eu aliquet dui imperdiet sit amet. Aliquam ac diam at tellus hendrerit porta. Morbi mauris velit, sodales vel nisl ut, sollicitudin aliquam nisi. Suspendisse velit dolor, laoreet in faucibus quis, facilisis sed mauris. Aenean felis lectus, pretium nec facilisis ac, congue in diam. Duis accumsan pellentesque faucibus. Nunc fermentum lectus lectus, ac rutrum risus cursus lobortis. Aliquam sollicitudin orci vitae sollicitudin luctus. Donec consequat pharetra sapien, et tempus justo euismod vitae. Aliquam pharetra mauris pellentesque nunc vehicula, nec tincidunt massa convallis. Sed bibendum, enim vel mollis sollicitudin, nisl sapien imperdiet purus, sit amet convallis velit est quis ipsum. Fusce et sapien facilisis, facilisis neque et, interdum metus.</p>
	</div>
	<div class="content" id="panel1-2">
	  <p>2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque consectetur sem, eu aliquet dui imperdiet sit amet. Aliquam ac diam at tellus hendrerit porta. Morbi mauris velit, sodales vel nisl ut, sollicitudin aliquam nisi. Suspendisse velit dolor, laoreet in faucibus quis, facilisis sed mauris. Aenean felis lectus, pretium nec facilisis ac, congue in diam. Duis accumsan pellentesque faucibus. Nunc fermentum lectus lectus, ac rutrum risus cursus lobortis. Aliquam sollicitudin orci vitae sollicitudin luctus. Donec consequat pharetra sapien, et tempus justo euismod vitae. Aliquam pharetra mauris pellentesque nunc vehicula, nec tincidunt massa convallis. Sed bibendum, enim vel mollis sollicitudin, nisl sapien imperdiet purus, sit amet convallis velit est quis ipsum. Fusce et sapien facilisis, facilisis neque et, interdum metus.</p>
	</div>
	<div class="content" id="panel1-3">
	  <p>3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque consectetur sem, eu aliquet dui imperdiet sit amet. Aliquam ac diam at tellus hendrerit porta. Morbi mauris velit, sodales vel nisl ut, sollicitudin aliquam nisi. Suspendisse velit dolor, laoreet in faucibus quis, facilisis sed mauris. Aenean felis lectus, pretium nec facilisis ac, congue in diam. Duis accumsan pellentesque faucibus. Nunc fermentum lectus lectus, ac rutrum risus cursus lobortis. Aliquam sollicitudin orci vitae sollicitudin luctus. Donec consequat pharetra sapien, et tempus justo euismod vitae. Aliquam pharetra mauris pellentesque nunc vehicula, nec tincidunt massa convallis. Sed bibendum, enim vel mollis sollicitudin, nisl sapien imperdiet purus, sit amet convallis velit est quis ipsum. Fusce et sapien facilisis, facilisis neque et, interdum metus.</p>
	</div>
	<div class="content" id="panel1-4">
	  <p>4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque consectetur sem, eu aliquet dui imperdiet sit amet. Aliquam ac diam at tellus hendrerit porta. Morbi mauris velit, sodales vel nisl ut, sollicitudin aliquam nisi. Suspendisse velit dolor, laoreet in faucibus quis, facilisis sed mauris. Aenean felis lectus, pretium nec facilisis ac, congue in diam. Duis accumsan pellentesque faucibus. Nunc fermentum lectus lectus, ac rutrum risus cursus lobortis. Aliquam sollicitudin orci vitae sollicitudin luctus. Donec consequat pharetra sapien, et tempus justo euismod vitae. Aliquam pharetra mauris pellentesque nunc vehicula, nec tincidunt massa convallis. Sed bibendum, enim vel mollis sollicitudin, nisl sapien imperdiet purus, sit amet convallis velit est quis ipsum. Fusce et sapien facilisis, facilisis neque et, interdum metus.</p>
	</div>
      </div>
    </div>
  </div>
</div>
