<div class="row">
  <div class="row">
    <div class="small-12 columns">
      <section class="main-photo bg-img-top fast-height-trans" id="stp-main">
      </section>
    </div>
  </div>
  <div class="row text-center">
    <div class="small-12 columns">
      <h1>Summer Training Program (STP)</h1>
    </div>
  </div>
</div>

<div class="row" data-equalizer>
  <div class="medium-11 small-centered small-12 columns">
    <div class="row">
      <div class="medium-6 small-12 columns" data-equalizer-watch>
	<ul class="small-block-grid-1">
	  <li>
	    <h3><strong>What is STP?</strong></h3>
	    <p class="indent serif">Summer Training Program (STP) is an intensive two- or
	      three-week long program that will strengthen your walk with 
	      Christ, show you the power of the Word and prayer, bond you 
	      with your brothers and sisters, and teach you how to share your 
	      faith with others. STP is open not only to those in ICA, but to 
	      anyone who would like to be challenged, strengthened and 
	      equipped in their faith.
	    </p>
	  </li>
          <li>
	    <h3><strong>Where and When is STP?</strong></h3>
	    <p class="indent serif">There are three different STP sessions. The first session is
	      located in Southern California, and is run by USC and Berkeley 
	      ICA. This session typically runs during the last two weeks of 
	      May.
	    </p>
	    <p class="indent serif">The second is located in the East Coast, and is typically
	      attended by students from the East Coast and Canada. It runs for 
	      two weeks from the last week of May to the first week of June.
	    </p>
	    <p class="indent serif">The third is located in Southern California, and is run by
	      UCLA and UCI ICA. This session runs for three weeks, usually 
	      from late August to September.
	    </p>
          </li>
	</ul>
      </div>
      <div class="medium-6 columns show-for-medium-up" data-equalizer-watch>
	<!--section class="bg-img" id="stp-1"></section>-->
	<%= image_tag "stp/stp-alpine-lake.jpg", class: "img-vertical" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="medium-11 small-centered small-12 columns">
    <div class="row">
      <div class="medium-6 small-12 columns">
	<h3><strong>What Do We Do On STP?</strong></h3>
      </div>
      <div class="medium-6 columns"></div>
    </div>
    <div class="row" data-equalizer>
      <div class="medium-6 columns panel text-center" data-equalizer-watch>
	<h3><strong>Part One</strong></h3>
	<h3><strong>Building Devotion and Character</strong></h3>
	<%= image_tag "stp/stp-devotion.jpg", class: "block-spacing-sml" %>
	<p class="serif text-left">The first part of the program is often held at a Bible camp, with a heavy focus on physical, mental, and spiritual growth. Participants will learn how to have quiet time with God, how to study the Bible, and through messages, workshops, and small group time, consider how to apply biblical truths and principles in their lives. We also perform manual labor for the Bible camp to learn important object lessons, serve them and contribute to their ministry.</p>
      </div>
      <div class="medium-6 columns panel text-center" data-equalizer-watch>
	<h3><strong>Part Two</strong></h3>
	<h3><strong>Growing in Evangelism and Faith</strong></h3>
	<%= image_tag "stp/stp-evangelism.jpg", class: "block-spacing-sml" %>
	<p class="serif text-left">The second part of the program typically involves evangelizing at a college campus in order to train in sharing our faith and build up our own faith as well. The second half culminates with several activities meant to challenge your faith and reveal the power of prayer. STP concludes with a time to process the lessons learned through the program and apply the truths from those lessons into our own lives.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">

</div>

<!-- <div class="row collapse">
  <div class="medium-6 columns text-padding">
    <h2><strong>What is STP?</strong></h2>
    <p class="indent serif">Summer Training Program (STP) is an intensive two- or
      three-week long program that will strengthen your walk with 
      Christ, show you the power of the Word and prayer, bond you 
      with your brothers and sisters, and teach you how to share your 
      faith with others. STP is open not only to those in ICA, but to 
      anyone who would like to be challenged, strengthened and 
      equipped in their faith.
    </p>
  </div>
  <div class="medium-6 columns">
    <section class="bg-img fast-height-trans" id="stp-1">
    </section>
  </div>
</div>

<div class="row collapse">
  <div class="medium-6 medium-push-6 columns text-padding">
    <h2><strong>Where and When is STP?</strong></h2>
    <p class="indent serif">There are three different STP sessions. The first session is
      located in Southern California, and is run by USC and Berkeley 
      ICA. This session typically runs during the last two weeks of 
      May.
    </p>
    <p class="indent serif">The second is located in the East Coast, and is typically
      attended by students from the East Coast and Canada. It runs for 
      two weeks from the last week of May to the first week of June.
    </p>
    <p class="indent serif">The third is located in Southern California, and is run by
      UCLA and UCI ICA. This session runs for three weeks, usually 
      from late August to September.
    </p>
  </div>
  <div class="medium-6 medium-pull-6 columns">
    <section class="bg-img fast-height-trans" id="stp-2">
    </section>
  </div>
</div>

<div class="row collapse">
  <div class="medium-6 columns text-padding">
    <h2><strong>What Do We Do On STP?</strong></h2>
    <p class="indent serif">STP is typically split into two parts: The first part of the
      program focuses on building devotion and character, and the
      second part focuses on growing in evangelism and faith.
    </p>
    <p class="indent serif">The first part of the program is often held at a Bible camp,
      with a heavy focus on physical, mental, and spiritual growth.
      Participants will learn how to have quiet time with God, how to
      study the Bible, and through messages, workshops, and small
      group time, consider how to apply biblical truths and principles
      in their lives. We also perform manual labor for the Bible
      camp to learn important object lessons, serve them and contribute
      to their ministry.
    </p>
    <p class="indent serif">The second part of the program typically involves evangelizing
      at a college campus in order to train in sharing our faith
      and build up our own faith as well. The second half culminates
      with several activities meant to challenge your faith and reveal
      the power of prayer. STP concludes with a time to process the
      lessons learned through the program and apply the truths from
      those lessons into our own lives.
    </p>
  </div>
  <div class="medium-6 columns">
    <section class="bg-img fast-height-trans" id="stp-3">
    </section>  
  </div>
</div>-->

<div class="row collapse block-spacing text-center show-for-small-only">
  <div class="row">
    <div class="small-12 columns">
      <h2><strong>Why We Love STP</strong></h2>
      <section class="separation-1"></section>
    </div>
  </div>
  <div class="row">
    <div class="large-3 medium-6 small-12 columns">
      <figure class="fig-link">
	<%= link_to "", "#", id: "stp-brian", class: "circular bg-img inline-block fast-opacity-trans", data: { dropdown: "drop1" } %>
      </figure>
    </div>
    <div class="large-3 medium-6 small-12 columns">
      <figure class="fig-link">
	<%= link_to "", "#", id: "stp-effie", class: "circular bg-img inline-block fast-opacity-trans", data: { dropdown: "drop2" } %>
      </figure>
    </div>
    <div class="large-3 medium-6 small-12 columns">
      <figure class="fig-link">    
	<%= link_to "", "#", id: "stp-jk", class: "circular bg-img inline-block fast-opacity-trans", data: { dropdown: "drop3" } %>
      </figure>
    </div>
    <div class="large-3 medium-6 small-12 columns">
      <figure class="fig-link">    
	<%= link_to "", "#", id: "stp-nelly", class: "circular bg-img inline-block fast-opacity-trans", data: { dropdown: "drop4" } %>
      </figure>
    </div>
  </div>
  <div id="drop1" data-dropdown-content class="f-dropdown content">
    <p>STP is a place where I experienced God’s perfect, sovereign love. Coming into STP, I was really burdened by my sins and fears from previous experiences. Yet despite this, God redeemed those things. While I was burdened by my sins, God showed me how faithful He is in His love for us; even though He knows we will be unfaithful to Him, out of love He makes, keeps, and fulfills greater and greater promises to us. While I was crippled in my fears of faith day, He encouraged me through a loving community of brothers and sisters and by blessing me in ways I couldn’t even imagine. Through the ways God loved me, I learned to trust solely in God’s faithfulness to me in all situations, that even when circumstances seem hopeless and are less than ideal (which they often are not!), I can continue to with joy and strength because I know that God is faithful in His love for me. This is something that I have been able to apply in countless situations ever since. If you’re considering going to STP, I would encourage you to go because God can and will love you perfectly as He is faithful to both me and you!</p>
  </div>
  <div id="drop2" data-dropdown-content class="f-dropdown content">
    <p>I came to my first STP feeling rather spiritually low. That summer, I went through a series of events that led me to believe that God did not love me. Time and time again I fell back into laziness and sin and it made me question if I was even genuine in my faith. Why would God want me if I kept on sinning? Why would he want me if I repeatedly did not want to commit myself to him? I remember during one prayer session, I started to cry because I was scared that God was condemning me and did not want me to be a part of his family. During one devotion during STP, I came across the verses Romans 8:38-39, “For I am sure that neither death nor life, nor angels nor rulers, nor things present nor things to come, nor powers, nor height nor depth, nor anything else in all creation, will be able to separate us from the love of God in Christ Jesus our Lord.” God was revealing to me the truth that I needed to hear. He loved me no matter what. Nothing could take that away. All those thoughts that plagued my head about him not loving me were lies. This is how God used STP to bless me and hear his truth.</p>
  </div>
  <div id="drop3" data-dropdown-content class="f-dropdown content">
    <p>My first year in college had helped me realize the importance of a relationship centered on Christ. I enjoyed the small groups we had during the school year. The accountability I gained from the meetings helped me stay focused on Christ and encouraged me to live for Him. Unfortunately the summer after my freshman year was proof that I had much to improve in my spiritual growth. I found myself spiritually stagnant and struggled to grow closer to Christ. I was really blessed that I came to STP. I was not only able to grow in my walk with Christ but I acquired tools and ways to help me continue to grow in His image.  A feature I found important and encouraging in the program was that I was surrounded by like-minded friends who sought to draw closer to God. We all supported and encouraged each other. This helped me address and combat the root issues behind failing to fully trust in God and failing to place all things in His hands. I thought STP 2013 was a fun and spiritually fulfilling experience. It was hard, at times, to be mentally focused but I always had friends who kept me on track. I can definitely say today that STP has played a tremendous role in strengthening my relationship with Christ. I am so blessed that I was able to attend the program.</p>
  </div>
  <div id="drop4" data-dropdown-content class="f-dropdown content">
    <p>STP is two weeks of Christ-centered learning and fellowship. Through workshops, messages, and various other activities, STP helped me improve my relationship with God. I’ve attended two STPs and each year has been a blessing in its own way. The first year, I was blown away by the Bible studies we had, in which we saw examples of how everything in the Bible points to Christ. Before these studies, I think I thought that the Bible was a somewhat random - but true, still - compilation of stories in which God was involved. It was, for lack of a better word, cool to see how Jesus is foreshadowed and alluded to in the Old Testament. The second year I was reminded of God’s perfect love and faithfulness, and I was able to experience them in clear and crazy ways through answered prayers during Faith Day. God didn’t have to answer any of my team’s faith goals that day, but because of His great love for us, and for His glory, He chose to answer ALL of them.</p>
  </div>
</div>

<div class="row show-for-medium-up">
  <div class="row text-center">
    <div class="small-12 columns">
      <h2><strong>Why We Love STP</strong></h2>
      <section class="separation-1"></section>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 medium-centered columns">
      <div class="row">
	<div class="medium-12">
	  <ul class="tabs centered" data-tab>
	    <li class="tab-title">
	      <%= link_to "", "#panel1-1", class: "circular-opaque bg-img inline-block fast-opacity-trans has-arrow", id: "stp-brian-1", data: {arrow: "#arrow-1"} %>
	    </li>
	    <li class="tab-title">
	      <%= link_to "", "#panel1-2", class: "circular-opaque bg-img inline-block fast-opacity-trans has-arrow", id: "stp-effie-1", data: {arrow: "#arrow-1"}  %>
	    </li>
	    <li class="tab-title">
	      <%= link_to "", "#panel1-3", class: "circular-opaque bg-img inline-block fast-opacity-trans has-arrow", id: "stp-jk-1", data: {arrow: "#arrow-1"}  %>
	    </li>
	    <li class="tab-title">
	      <%= link_to "", "#panel1-4", class: "circular-opaque bg-img inline-block fast-opacity-trans has-arrow", id: "stp-nelly-1", data: {arrow: "#arrow-1"}  %>
	    </li>
	  </ul>
	</div>
      </div>
      <div class="arrow-up hidden" id="arrow-1"></div>
      <div class="row">
	<div class="medium-11 medium-centered columns">
	  <div class="tabs-content">
	    <div class="content" id="panel1-1">
	      <p>STP is a place where I experienced God’s perfect, sovereign love. Coming into STP, I was really burdened by my sins and fears from previous experiences. Yet despite this, God redeemed those things. While I was burdened by my sins, God showed me how faithful He is in His love for us; even though He knows we will be unfaithful to Him, out of love He makes, keeps, and fulfills greater and greater promises to us. While I was crippled in my fears of faith day, He encouraged me through a loving community of brothers and sisters and by blessing me in ways I couldn’t even imagine. Through the ways God loved me, I learned to trust solely in God’s faithfulness to me in all situations, that even when circumstances seem hopeless and are less than ideal (which they often are not!), I can continue to with joy and strength because I know that God is faithful in His love for me. This is something that I have been able to apply in countless situations ever since. If you’re considering going to STP, I would encourage you to go because God can and will love you perfectly as He is faithful to both me and you!</p>
	    </div>
	    <div class="content" id="panel1-2">
	      <p>I came to my first STP feeling rather spiritually low. That summer, I went through a series of events that led me to believe that God did not love me. Time and time again I fell back into laziness and sin and it made me question if I was even genuine in my faith. Why would God want me if I kept on sinning? Why would he want me if I repeatedly did not want to commit myself to him? I remember during one prayer session, I started to cry because I was scared that God was condemning me and did not want me to be a part of his family. During one devotion during STP, I came across the verses Romans 8:38-39, “For I am sure that neither death nor life, nor angels nor rulers, nor things present nor things to come, nor powers, nor height nor depth, nor anything else in all creation, will be able to separate us from the love of God in Christ Jesus our Lord.” God was revealing to me the truth that I needed to hear. He loved me no matter what. Nothing could take that away. All those thoughts that plagued my head about him not loving me were lies. This is how God used STP to bless me and hear his truth.</p>
	    </div>
	    <div class="content" id="panel1-3">
	      <p>My first year in college had helped me realize the importance of a relationship centered on Christ. I enjoyed the small groups we had during the school year. The accountability I gained from the meetings helped me stay focused on Christ and encouraged me to live for Him. Unfortunately the summer after my freshman year was proof that I had much to improve in my spiritual growth. I found myself spiritually stagnant and struggled to grow closer to Christ. I was really blessed that I came to STP. I was not only able to grow in my walk with Christ but I acquired tools and ways to help me continue to grow in His image.  A feature I found important and encouraging in the program was that I was surrounded by like-minded friends who sought to draw closer to God. We all supported and encouraged each other. This helped me address and combat the root issues behind failing to fully trust in God and failing to place all things in His hands. I thought STP 2013 was a fun and spiritually fulfilling experience. It was hard, at times, to be mentally focused but I always had friends who kept me on track. I can definitely say today that STP has played a tremendous role in strengthening my relationship with Christ. I am so blessed that I was able to attend the program.</p>
	    </div>
	    <div class="content" id="panel1-4">
	      <p>STP is two weeks of Christ-centered learning and fellowship. Through workshops, messages, and various other activities, STP helped me improve my relationship with God. I’ve attended two STPs and each year has been a blessing in its own way. The first year, I was blown away by the Bible studies we had, in which we saw examples of how everything in the Bible points to Christ. Before these studies, I think I thought that the Bible was a somewhat random - but true, still - compilation of stories in which God was involved. It was, for lack of a better word, cool to see how Jesus is foreshadowed and alluded to in the Old Testament. The second year I was reminded of God’s perfect love and faithfulness, and I was able to experience them in clear and crazy ways through answered prayers during Faith Day. God didn’t have to answer any of my team’s faith goals that day, but because of His great love for us, and for His glory, He chose to answer ALL of them.</p>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
