<% provide(:title, 'Rutgers Leaders') %>
		
			<div class="small-12">
				<section class="main-photo bg-img-top fast-height-trans" id="rutgers-leaders"></section>
			</div>
			<section class="separation-1"></section>
			<div class="row">
				<div class="small-12 columns text-center">
					<h1><strong>Rutgers Campus Leaders</strong></h1>
				</div>
			</div>
			<section class="separation-1"></section>

			<!-- For Large Only -->

			<div class="row show-for-large-up">
				<div class="small-12 medium-8 large-10 small-centered columns">
					<ul id="accordion" class="small-block-grid-1 medium-block-grid-1 large-block-grid-2 small-centered">
					  <li>
					    <dl class="accordion" data-accordion="myAccordionGroup">
					      <dd class="accordion-navigation">
					        <a href="#panel1c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "campus/rutgers-leaders-danny.jpg", alt: "Danny" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h3 class="AccT">Danny Furuyama</h3>
						        		<h6 class="AccN">Rutgers Ministry Leader</h6>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel1c" class="content">
					        	<div class="Letter">Danny Furuyama attended University of California, Los Angeles. There he studied electrical engineering and participated in a Christian fellowship group called the Navigators where he served on staff for three years. In 2003, Danny and two others pioneered a new chapter at UC Berkeley. In 2009, together with Vieng Wong, they started Living Hope Evangelical Church. Danny has also led several teams on Volunteer Summer English Teachers (VSET) in East Asia, Mongolia, Kyrgyzstan, Kazakhstan, and Turkey. In 2015, Danny is starting a new chapter at Rutgers University and serving as the youth pastor at Graceway Presbyterian Church. He is married to Akemi and have two sons named Isaiah and Micah. Danny also enjoys sports, board games, cooking, photography, and movies.</div>
					          	<div href="#panel1c">
					          		<div class="UpTri"></div>
					          	</div>
					          	<section class="sepSmall"></section>
					        </div>
					      </dd>
                <section class="separation-1"></section>
					      <dd class="accordion-navigation">
					        <a href="#panel3c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "leaders-paul.jpg", alt: "Paul" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h3 class="AccT">Paul Lee</h3>
						        		<h6 class="AccN">Visiting Part-Time Staff</h6>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel3c" class="content">
					        	<div class="Letter">A loving and supportive brother to many, Paul is known for his vocal techniques and audacious comments. He first transferred to UCLA and joined ICA in his junior year, and has continued to serve on campus after graduation. Paul is a humble servant and a man of prayer, who loves the Word. He is a great listener and genuinely enjoys having deep conversations, along with watching Pokemon, taking selfies, playing ball, and shooting candid videos of his friends.</div>
					          	<div href="#panel1c">
					          		<div class="UpTri"></div>
					          	</div>
					          	<section class="sepSmall"></section>
					        </div>
					      </dd>
					    </dl>
					  </li>
					  <li>
					    <dl class="accordion" data-accordion="myAccordionGroup">
					      <dd class="accordion-navigation">
					        <a href="#panel2c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "campus/rutgers-leaders-akemi.jpg", alt: "Akemi" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h3 class="AccT">Akemi Furuyama</h3>
						        		<h6 class="AccN">Rutgers Women's Leader</h6>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel2c" class="content">
					        	<div class="Letter">Akemi lived in Northern California her entire life prior to moving to the East Coast.  She graduated from the University of California, Davis with a Human Development major and Education minor.  Akemi taught elementary school for 8 years.  Her current job is investing in and developing the life of her two young boys, Isaiah and Micah.  Through these various life changes, the one constant has been God who has strengthened Akemi's true identity as His precious daughter, which is of greater value than serving Him or any of her roles.  Akemi looks forward to supporting her husband in ministry and meeting up with sisters in Christ.  She enjoys spending time with her family, taking pictures, and baking.</div>
					        </div>
					      </dd>
                <section class="separation-1"></section>
					      <dd class="accordion-navigation">
					        <a href="#panel4c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "leaders-sarah.jpg", alt: "Sarah" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h3 class="AccT">Sarah Chacon</h3>
						        		<h6 class="AccN">Visiting Part-Time Staff</h6>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel4c" class="content">
					        	<div class="Letter">Though she hails from Sylmar, California, Sarah is not your typical "valley girl." She is an avid learner of different languages and cultures, and loves engaging with people from all different walks of life to help them know Christ. After graduating from UCLA in 2013, Sarah began volunteering as a part-time staff with ICA, and can now be spotted regularly on campus sharing the love of Jesus with students, leading bible studies, and engaging in one-to-one discipleship. Sarah has a passion for music, languages, social justice, plants, Adventure Time, and Korean pop music.</div>
					        </div>
					      </dd>
					    </dl>
					  </li>
					</ul>
				</div>	
			</div>	

			<!-- For Small and Medium Only -->

			<div class="row hide-for-large-up">
				<div class="small-12 medium-8 large-10 small-centered columns">
					<ul id="accordion" class="small-block-grid-1 medium-block-grid-1 large-block-grid-2 small-centered">
					  <li>
					    <dl class="accordion" data-accordion="myAccordionGroup">
					      <dd class="accordion-navigation">
					        <a href="#panel1c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "campus/rutgers-leaders-danny.jpg", alt: "Danny" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h3 class="AccT">Danny Furuyama</h3>
						        		<h6 class="AccN">Rutgers Ministry Leader</h6>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel1c" class="content">
					        	<div class="Letter">Danny Furuyama attended University of California, Los Angeles. There he studied electrical engineering and participated in a Christian fellowship group called the Navigators where he served on staff for three years. In 2003, Danny and two others pioneered a new chapter at UC Berkeley. In 2009, together with Vieng Wong, they started Living Hope Evangelical Church. Danny has also led several teams on Volunteer Summer English Teachers (VSET) in East Asia, Mongolia, Kyrgyzstan, Kazakhstan, and Turkey. In 2015, Danny is starting a new chapter at Rutgers University and serving as the youth pastor at Graceway Presbyterian Church. He is married to Akemi and have two sons named Isaiah and Micah. Danny also enjoys sports, board games, cooking, photography, and movies.</div>
					          	<div href="#panel1c">
					          		<div class="UpTri"></div>
					          	</div>
					          	<section class="sepSmall"></section>
					        </div>
					      </dd>
					      <section class="separation-1"></section>
					      <dd class="accordion-navigation">
					        <a href="#panel2c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "campus/rutgers-leaders-akemi.jpg", alt: "Akemi" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h3 class="AccT">Akemi Furuyama</h3>
						        		<h6 class="AccN">Rutgers Women's Leader</h6>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel2c" class="content">
					        	<div class="Letter">Akemi lived in Northern California her entire life prior to moving to the East Coast. She graduated from the University of California, Davis with a Human Development major and Education minor. Akemi taught elementary school for 8 years. Her current job is investing in and developing the life of her two young boys, Isaiah and Micah. Through these various life changes, the one constant has been God who has strengthened Akemi's true identity as His precious daughter, which is of greater value than serving Him or any of her roles. Akemi looks forward to supporting her husband in ministry and meeting up with sisters in Christ. She enjoys spending time with her family, taking pictures, and baking.</div>
					        </div>
					      </dd>
                <section class="separation-1"></section>
					      <dd class="accordion-navigation">
					        <a href="#panel3c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "leaders-paul.jpg", alt: "Paul" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h3 class="AccT">Paul Lee</h3>
						        		<h6 class="AccN">Visiting Part-Time Staff</h6>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel3c" class="content">
					        	<div class="Letter">A loving and supportive brother to many, Paul is known for his vocal techniques and audacious comments. He first transferred to UCLA and joined ICA in his junior year, and has continued to serve on campus after graduation. Paul is a humble servant and a man of prayer, who loves the Word. He is a great listener and genuinely enjoys having deep conversations, along with watching Pokemon, taking selfies, playing ball, and shooting candid videos of his friends.</div>
					          	<div href="#panel1c">
					          		<div class="UpTri"></div>
					          	</div>
					          	<section class="sepSmall"></section>
					        </div>
					      </dd>
                <section class="separation-1"></section>
					      <dd class="accordion-navigation">
					        <a href="#panel4c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "leaders-sarah.jpg", alt: "Sarah" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h3 class="AccT">Sarah Chacon</h3>
						        		<h6 class="AccN">Visiting Part-Time Staff</h6>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel4c" class="content">
					        	<div class="Letter">Though she hails from Sylmar, California, Sarah is not your typical "valley girl." She is an avid learner of different languages and cultures, and loves engaging with people from all different walks of life to help them know Christ. After graduating from UCLA in 2013, Sarah began volunteering as a part-time staff with ICA, and can now be spotted regularly on campus sharing the love of Jesus with students, leading bible studies, and engaging in one-to-one discipleship. Sarah has a passion for music, languages, social justice, plants, Adventure Time, and Korean pop music.</div>
					          	<div href="#panel1c">
					          		<div class="UpTri"></div>
					          	</div>
					          	<section class="sepSmall"></section>
					        </div>
					      </dd>
					    </dl>
					  </li>
					</ul>
				</div>	
			</div>	
