<% provide(:title, @leaders_page_title) %>

<% def create_accordion_list(campus_leaders) %>
  <li>
    <dl class="accordion" data-accordion="myAccordionGroup">
      <% for leader in campus_leaders %>
        <dd class="accordion-navigation">
          <% panel_div_id = "panel" + leader.id.to_s + "c" %>
          <% panel_href = "#" + panel_div_id %>
          <a href=<%= panel_href %> >
            <div class="AutoM row" data-equalizer>
              <div class="small-3 columns" data-equalizer-watch>
                <%= image_tag leader.image_path, alt: leader.name %>
              </div>
              <div class="small-9 columns" data-equalizer-watch>
                <h3 class="AccT"><%= leader.name %></h3>
                <h6 class="AccN"><%= leader.title %></h6>
                <div class="DownTri"></div>
              </div>
            </div>
          </a>
          <div id=<%= panel_div_id %> class="content">
            <div class="Letter"><%= leader.bio %></div>
            <div href=<%= panel_href %>>
              <div class="UpTri"></div>
            </div>
            <section class="sepSmall"></section>
          </div>
        </dd>
        <section class="separation-1"></section>
      <% end %>
    </dl>
  </li>
<% end %>

<div class="small-12">
  <section class="main-photo bg-img-top fast-height-trans" id="USC-leaders"></section>
  </div>
    <section class="separation-1"></section>
    <div class="row">
    <div class="small-12 columns text-center">
      <h1><strong> USC Campus Leaders </strong></h1>
    </div>
  </div>
</div>

<section class="separation-1"></section>

<!-- For Large Only -->

<div class="row">
  <div class="small-12 medium-8 large-10 small-centered columns">
    <ul id="accordion" class="small-block-grid-1 medium-block-grid-1 large-block-grid-2 small-centered">
      <% create_accordion_list @campus_leaders_column_1 %>
      <% create_accordion_list @campus_leaders_column_2 %>
    </ul>
  </div>	
</div>	
