<!DOCTYPE HTML>
<html>
	<head>
		<Title>UCLA Leaders Page</Title>
	</head>
	<body>
		<page>
			<div class="small-12">
				<section class="main-photo bg-img" id="UCLAlead-main"></section>
			</div>
			<section class="separation-1"></section>
			<div class="row">
				<div class="small-12 columns text-center">
					<h1><strong> UCLA Campus Leaders </strong></h1>
				</div>
			</div>
			<section class="separation-1"></section>
			<div class="row">
				<div class="small-12 medium-8 large-10 small-centered columns">
					<ul id="accordion" class="small-block-grid-1 medium-block-grid-1 large-block-grid-2 small-centered">
					  <li>
					    <dl class="accordion" data-accordion="myAccordionGroup">
					      <dd class="accordion-navigation">
					        <a href="#panel1c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "jackc.jpg", alt: "Jack" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h class="AccT">Jack Cao</h>
						        		<p class="AccN">UCLA Ministry Leader</p>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel1c" class="content">
					        	<div class="Letter">
					          Jack Cao was born in China and came to the US when he was 10. He grew up not knowing God, but became a Christian in high-school when God lead him to read the Bible on his own through a time of struggle. He became a part of our sister ministry in UC Berkeley, where he received his Bachelor’s in Electrical Engineering. During that time he came to a greater understanding of God’s love and also God’s call to discipleship. After graduating, he came to UCLA to get his Master’s in EE and support our Bruin ICA ministry. Always willing to lend a helping hand, Jack’s spiritual upbringing at Cal makes him an excellent shepherd and brings a fresh perspective among his brothers and sisters. In his spare time, he likes to cook, hang out with people, run, and skip rocks by the river.
					          	</div>
					          	<div href="#panel1c">
					          		<div class="UpTri"></div>
					          	</div>
					          	<section class="sepSmall"></section>
					        </div>
					      </dd>
				          <section class="separation-1"></section>
					      <dd class="accordion-navigation">
					        <a href="#panel2c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "amyc.jpg", alt: "Jeremy" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h class="AccT">Amy Chen</h>
						        		<p class="AccN">UCLA Women's Ministry Leader</p>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel2c" class="content">
					          	<div class="Letter">
					          Amy was introduced to the gospel by a staff member at Bruin ICA in 2006 during her freshman year, when she received Jesus Christ as her Lord and Savior. The next year, she went on VSET missions and was amazed at the saving grace and power of God for other people. She has labored as a ministry servant and disciple-maker ever since. In addition, she currently works full-time in the UCLA School of Medicine. Amy loves talking to people, exploring new music and food, going on spontaneous adventures, visiting coffee and tea shops, giving hugs, and has a quirky curiosity for many random interests.
					          	</div>
					        </div>
					      </dd>
					      <section class="separation-1"></section>
					      <dd class="accordion-navigation">
					        <a href="#panel3c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "elaine.jpg", alt: "Jeremy" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h class="AccT">Elaine Lee</h>
						        		<p class="AccN">UCLA Women's Ministry Leader</p>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel3c" class="content">
					        	<div class="Letter">
					          Elaine didn’t grow up having a Christian background. Her mom used to be a strong Buddhist, while her dad had no religion. She herself didn’t have any religion, but believed in a higher being. In junior high, in a dark time of her and her family’s life, she called out to God from the bottom of her heart, and God saved her and her family, showing her that He was there and true and did a 180 change in her family’s life. Elaine, her mom, and her sister all came to know Christ. Ever since that time, Elaine knew she wanted to live for God and His will. She is now a PhD student at UCLA, Environmental Engineering major with an emphasis in water treatment, and a teaching assistant at UCLA. She loves to dance, disciple, pray, eat good food, and have quality time with her friends and husband. 
					          	</div>
					        </div>
					      </dd>
					      <section class="separation-1"></section>
					      <dd class="accordion-navigation">
					        <a href="#panel4c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "jessiey.jpg", alt: "Jeremy" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h class="AccT">Jessie Yeh</h>
						        		<p class="AccN">UCLA Women's Ministry Leader</p>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel4c" class="content">
					        	<div class="Letter">
					          Jessie recommitted her life to Christ in her freshman year at UCLA, and even after graduating in 2012, she continues to be amazed at His faithfulness, patience, and love for her. Always watching out for her brothers and sisters, her laughter and timely encouragements are guaranteed to brighten anyone’s day. Currently, she works full-time in Westwood, while continuing to serve with ICA in hopes of helping others know Christ and experience joy in following Him. In her spare time, Jessie enjoys delighting in the simple things including but not limited to the smell of fresh bread, listening to people’s laughs, lattes, terrible puns, and noodle soup.
					          	</div>
					        </div>
					      </dd>
					    </dl>
					  </li>
					  <li>
					    <dl class="accordion" data-accordion="myAccordionGroup">
					      <dd class="accordion-navigation">
					        <a href="#panel5c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "Jeremy.jpg", alt: "Jeremy" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h class="AccT">Sarah Chacon</h>
						        		<p class="AccN">Part Time Staff</p>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel5c" class="content">
					        	<div class="Letter">
					          Though she hails from Sylmar, California, Sarah is not your typical "valley girl." She is an avid learner of different languages and cultures, and loves engaging with people from all different walks of life to help them know Christ. After graduating from UCLA in 2013, Sarah began volunteering as a part-time staff with ICA, and can now be spotted regularly on campus sharing the love of Jesus with students, leading bible studies, and engaging in one-to-one discipleship. Sarah has a passion for music, languages, social justice, plants, Adventure Time, and Korean pop music.
					          	</div>
					        </div>
					      </dd>
					      <section class="separation-1"></section>
					      <dd class="accordion-navigation">
					        <a href="#panel6c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "Jeremy.jpg", alt: "Jeremy" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h class="AccT">Paul Lee</h>
						        		<p class="AccN">Part Time Staff</p>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel6c" class="content">
					        	<div class="Letter">
					          Panel 5. Lorem ipsum dolor
					          	</div>
					        </div>
					      </dd>
					      <section class="separation-1"></section>
					      <dd class="accordion-navigation">
					        <a href="#panel7c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "joshm.jpg", alt: "Josh" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h class="AccT">Josh Molitoris</h>
						        		<p class="AccN">UCLA Men's Team Leader</p>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel7c" class="content">
					        	<div class="Letter">
					          Josh spent the first year of his college experience at UCLA as a nominal Christian, but soon realized that there is much more to life than what society so often emphasizes. After experiencing God’s love and mercy at ICA's Winter Conference in 2012, it became clear to Josh that he ought to make his relationship with God a priority in his life. Since then he has become a part of the  UCLA servants team, leads Bible studies, and meets up with those who are interested in learning more about Christianity. Apart from spending time serving the ministry, Josh enjoys playing sports as well as playing and listening to music.  
					          	</div>
					        </div>
					      </dd>
					    </dl>
					  </li>
					</ul>
				</div>	
			</div>	
		</page>
	</body>
<html>

