
		
			<div class="small-12">
				<section class="main-photo bg-img" id="UCLAlead-main"></section>
			</div>
			<section class="separation-1"></section>
			<div class="row">
				<div class="small-12 columns text-center">
					<h1><strong> UCI Campus Leaders </strong></h1>
				</div>
			</div>
			<section class="separation-1"></section>
			<div class="row">
				<div class="small-12 medium-8 large-10 small-centered columns">
					<ul id="accordion" class="small-block-grid-1 medium-block-grid-1 large-block-grid-2 small-centered">
					  <li>
					    <dl class="accordion" data-accordion="myAccordionGroup">
					      <dd class="accordion-navigation">
					        <a href="#panel1c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "leaders-josh.jpg", alt: "Jack" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h3 class="AccT">Michael Wong</h3>
						        		<h6 class="AccN">UCI Ministry Director</h6>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel1c" class="content">
					        	<div class="Letter">
					          The Lord gave Michael a vision for disciple-making and evangelism late in high school, and he went on to receive more training with the Navigators during his undergraduate years at UCLA.  He continued on the staff of the Navigators and ICA at UCLA for another four years before being called to pioneer a new campus ministry at UC Irvine.  He continues to share the gospel on campus, lead Bible studies and fellowship meetings, and disciple students on a full-time basis. He recently married his long-time friend and colaborer, Elaine, and is attending Talbot Theological Seminary.
					          	</div>
					          	<div href="#panel1c">
					          		<div class="UpTri"></div>
					          	</div>
					          	<section class="sepSmall"></section>
					        </div>
					      </dd>
				          <section class="separation-1"></section>
					      <dd class="accordion-navigation">
					        <a href="#panel2c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "leaders-elaine.jpg", alt: "Jeremy" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h3 class="AccT">Elaine Wong</h3>
						        		<h6 class="AccN">UCI Women's Ministry Leader</h6>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel2c" class="content">
					          	<div class="Letter">
					          Elaine didn’t grow up having a Christian background. Her mom used to be a strong Buddhist, while her dad had no religion. She herself didn’t have any religion, but believed in a higher being. In junior high, in a dark time of her and her family’s life, she called out to God from the bottom of her heart, and God saved her and her family, showing her that He was there and true and did a 180 change in her family’s life. Elaine, her mom, and her sister all came to know Christ. Ever since that time, Elaine knew she wanted to live for God and His will. She is now a PhD student at UCLA, Environmental Engineering major with an emphasis in water treatment, and a teaching assistant at UCLA. She loves to dance, disciple, pray, eat good food, and have quality time with her friends and husband, Michael.  
					          	</div>
					        </div>
					      </dd>
					      <section class="separation-1"></section>
					      <dd class="accordion-navigation">
					        <a href="#panel3c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "leaders-caleb.JPG", alt: "Jeremy" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h3 class="AccT">Caleb Molitoris</h3>
						        		<h6 class="AccN">UCI Ministry Leader</h6>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel3c" class="content">
					        	<div class="Letter">
					          As a missionary’s kid, Caleb was exposed to Christianity at a young age. Having been raised in Lutheran churches and schools, Caleb had a solid understanding of who Jesus is and what He taught. However, he did not experience the blessings of having a personal relationship with Christ until his college years at UCLA. Because he was blessed by those who poured into him while he was a student, Caleb was moved to personally invest in the lives of people. Caleb graduated from UCLA with a BS in electrical engineering in 2012, and is now working at Intel while serving as associate assistant director at UCI ICA.
					          	</div>
					        </div>
					      </dd>
					      
					    </dl>
					  </li>
					  <li>
					    <dl class="accordion" data-accordion="myAccordionGroup">
					      <dd class="accordion-navigation">
					        <a href="#panel4c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "leaders-jessie.jpg", alt: "Jeremy" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h3 class="AccT">Bernadette Saldana</h3>
						        		<h6 class="AccN">Part Time Staff</h6>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel4c" class="content">
					        	<div class="Letter">
					          Bernadette may be one of the friendliest people you will ever meet. Filipino on the outside, and Korean at heart, she is an avid learner of different languages and cultures, and loves relating with people from all different walks of life to help them know Jesus. Shortly after receiving her Master's degree at UCI in 2013, Bernadette began volunteering as a part-time staff with ICA while working as a private tutor. Bernadette has a passion for music, kids, international ministry, ESL, teaching, and Korean pop music. She can usually be spotted around ring road sharing Christ's love in its various forms, so if you see her, make sure to say hi!
					          	</div>
					        </div>
					      </dd>
					      <section class="separation-1"></section>					     
					      <dd class="accordion-navigation">
					        <a href="#panel5c">
					        	<div class="AutoM row" data-equalizer>
						        	<div class="small-3 columns" data-equalizer-watch>
						        		<%= image_tag "Jeremy.jpg", alt: "Jeremy" %>
						        	</div>
						        	<div class="small-9 columns" data-equalizer-watch>
						        		<h3 class="AccT">Michelle Yi</h3>
						        		<h6 class="AccN">Part Time Staff</h6>
						        		<div class="DownTri"></div>
						        	</div>	
						        	
						        </div>
					        </a>
					        <div id="panel5c" class="content">
					        	<div class="Letter">
					          Michelle spent her undergraduate years at Brandeis University, where her eyes were opened to the truth. In her church, Chinese Bible Church of Greater Boston, she served as a leader in its college fellowship and discipled girls in her campus. As she concluded her time in Massachusetts, she decided to join ICA as a part-time staff member in UC Irvine for training for the next two years. Michelle hopes to fall more deeply in love with Jesus as she serves and grows in fellowship with ICA. She lived in Seoul, South Korea for 9 years, and enjoys playing soccer and reading.
					          	</div>
					        </div>
					      </dd>
					      
					    </dl>
					  </li>
					</ul>
				</div>	
			</div>	
		
	


