<div class="row separation-2">
</div>

<footer class="show-for-medium-up">
  <div class="row collapse text-center bg-footer-1">
    <div class="medium-12 medium-centered columns">
      <section class="block-spacing-sml">
        <h3 class="white"><strong><em>"The least of you will become a thousand,<br>
          the smallest a mighty nation. I am the LORD;<br>
          in its time I will do this swiftly."</em></strong></h3>
        <h3 class="white"><strong>Isaiah 60:22</strong></h3>
      </section>
    </div>
  </div>
  <div class="row bg-footer-2 block-spacing-sml" data-equalizer>
    <div class="medium-3 columns" data-equalizer-watch>
      <ul>
        <li><%= image_tag "footer/cross2.png" %></li>
        <li><h6>ABOUT</h6></li>
        <li><%= link_to "Vision/Mission", about_path, class: "fast-color-trans" %></li>
        <li><%= link_to "One-to-One Discipleship", discipleship_path, class: "fast-color-trans" %></li>
        <li><%= link_to "Leadership", leadership_path, class: "fast-color-trans" %></li>
        <li><%= link_to "Church", whec_path, class: "fast-color-trans" %></li>
      </ul>
    </div>
    <div class="medium-3 columns" data-equalizer-watch>
      <ul>
        <li><%= image_tag "footer/church.png" %></li>
        <li><h6>MINISTRIES</h6></li>
        <li><%= link_to "USC", usc_path, class: "fast-color-trans" %></li>
        <li><%= link_to "UCLA", ucla_path, class: "fast-color-trans" %></li>
        <li><%= link_to "UCI", uci_path, class: "fast-color-trans" %></li>
        <li><%= link_to "Cal", ucb_path, target: "_blank", class: "fast-color-trans" %></li>
      </ul>
    </div>
    <div class="medium-3 columns" data-equalizer-watch>
      <ul>
        <li><%= image_tag "footer/alpha-fish.png" %></li>
        <li><h6>PROGRAMS</h6></li>
        <li><%= link_to "Special Events/Programs", special_events_path, class: "fast-color-trans" %></li>
        <li><%= link_to "Summer Training Program", stp_path, class: "fast-color-trans" %></li>
      </ul>
    </div>
    <div class="medium-3 columns" data-equalizer-watch>
      <ul>
        <li><%= image_tag "footer/envelope.png" %></li>
        <li><a href="<%= contact_path %>"><h6 class="header-link fast-color-trans">CONTACT US</h6></a></li>
        <!--<li><%#= link_to "Contact Us", contact_path %></li>-->
      </ul>
    </div>
  </div>
</footer>

<footer class="show-for-small-only">
  <div class="row text-center collapse bg-footer-2 block-spacing-sml">
    <div class="small-12 columns">
      <ul>
        <li><%= image_tag "footer/cross2.png" %></li>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Contact Us", contact_path %></li>
        <li><%= image_tag "footer/mobile-up-arrow.png", size: "32x32", style: "padding-top: 10px;", class: "mobile-scroll-top" %></li>
      </ul>
    </div>
  </div>
</footer>
